.statut_1 {
    background-color: lightgreen !important;
}

.statut_3 {
    background-color: rgb(233, 144, 144) !important;
}

.statut_2 {
    background-color: rgb(243, 200, 120) !important;
}

body {
    background: rgb(231, 210, 136) !important;
    background: linear-gradient(0deg, rgba(231, 210, 136, 1) 0%, rgba(141, 223, 186, 1) 100%) !important;
}

h1 {
    background: rgb(231, 210, 136) !important;
    background: radial-gradient(circle, rgba(231, 210, 136, 1) 0%, rgba(141, 223, 186, 1) 100%) !important;
    font-size: 4em !important;
}

.container {
    background: rgb(231, 210, 136) !important;
    background: linear-gradient(0deg, rgba(231, 210, 136, 1) 0%, rgba(141, 223, 186, 1) 100%) !important;
}